<header> 
    <div class="header-style">
        <div class="logo">
            <img src="/assets/images/svgexport-3.svg" alt="">
        </div>
        <div class="short-menu">    
            <nav> 
                <ul> 
                    <li>
                        <a href="">картки</a>
                    </li>
                    <li>
                        <a href="">фоп</a>
                    </li>
                    <li>
                        <a href="">депозити</a>
                    </li>
                    <li>
                        <a href="">інвестиції</a>
                    </li>
                    <li>
                        <a href="">покупка частинами</a>
                    </li>
                    <li>
                        <a href="">міжнародні перекази</a>
                    </li>
                </ul> 
             </nav>
        </div>
    </div>
</header>