footer{
    background-color: black;
    padding-left: 56px;
    padding-right: 56px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
        .footer-main-layout {
            max-width: 1100px;
            margin: 0 auto;

            padding: 90px 0 100px 0;
        img {
            max-width: 100%;
            width: 345px;
        }
        p {
            margin-top: 24px;
            font-size: 14px;
            line-height: 17px;
               
            .neutral-footer {
                margin-top: 24px;
                font-size: 14px;
                line-height: 17px;
                color: white;
            }
        }
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            color: #e74b4e;
        }        
        .fotter-menu {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-content: normal;
            justify-content: flex-start;
            align-items: flex-start;
            width: 1110px;
            max-width: 100%;
            margin-top: 49px;
           }
           .left {
               display: flex;
               flex-direction: row;
               flex-wrap: nowrap;
               align-content: flex-start;
               align-items: flex-start;
               margin: -15px;
               flex-grow: 1;
                .footer-menu-item {
                    width: 100%;
                    max-width: 225px;
                    margin: 15px;
                    .footer-menu-tittle {
                        font-weight: 900;
                        font-family: Inter,Arial,sans-serif;
                        font-size: 24px;
                        line-height: 29px;
                        color: rgba(255,255,255,.5);
                        margin-bottom: 20px;
                        padding: 0;
                         }
                    a {
                        font-family: Lato,sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        display: block;
                        padding: 10px 0;
                        text-decoration: none;
                        cursor: pointer;
                        -webkit-transition: all ease .3s;
                        -o-transition: all ease .3s;
                        -moz-transition: all ease .3s;
                        transition: all ease .3s;
                        border-radius: 12px;
                    }
                    .label-new {
                        display: inline-block;
                        transform: translateY(-50%);
                        width: 36px;
                        height: 16px;
                        font-size: 10px;
                        text-align: center;
                        line-height: 17px;
                        color: #000;
                        background: #fa5255;
                        border-radius: 4px;
                        }
                }
           }
           .right {
                margin-left: 30px;
                width: 100%;
                max-width: 255px;
                .icons-section{
                    margin: -10px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-content: flex-start;
                    align-items: flex-start;
                    .icons {
                        background-color: #5310d8;
                        width: 80px;
                        height: 80px;
                        position: relative;
                        margin-bottom: 24px;
                        img {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                object-fit: cover;
                                width: 22px;
                            }
                    }
                }  
                .small-text {
                    p{
                    margin-top: 32px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: rgba(255,255,255,.5);
                    a {
                        color: #fa5255;
                        font-size: 14px;
                    }  
                }
                }     
           }
        }
}