<footer>
    <div class="footer-main-layout">
        <div class="top">
            <img src="/assets/images/svgexport-1.svg" alt="">
            <p class="neutral-br">Щоб стати клієнтом, потрібно мати смартфон на Android або iOS</p>
        </div>
        <div class="fotter-menu">
            <div class="left">
                <div class="footer-menu-item">
                    <div class="footer-menu-tittle">Банк</div>
                    <a href="">Про банк</a>
                    <a href="">Kар'єра</a>
                    <a href="">Контакти</a>
                    <a href="">Умови та правила</a>
                    <a href="">Безпека</a>
                    <a href="">API</a>
                </div>
                
                <div class="footer-menu-item">
                    <div class="footer-menu-tittle">Картки</div>
                    <a href="">Чорна картка</a>
                    <a href="">Біла картка</a>
                    <a href="">Platinum картка</a>
                    <a href="">IRON картка</a>
                    <a href="">Дитяча карта</a>
                    <a href="">єПідтримка
                    <span class="label-new">NEW</span>
                    </a>
                </div>

                <div class="footer-menu-item">
                    <div class="footer-menu-tittle">Продукти</div>
                    <a href="">Покупка частинами</a>
                    <a href="">Розстрочка</a>
                    <a href="">Міжнародні перекази</a>
                    <a href="">ФОП</a>
                    <a href="">Депозити</a>
                    <a href="">Оплата у ресторанах</a>
                    <a href="">Реєстрові виплати
                        <span class="label-new">NEW</span>
                    </a>
                    <a href="">Інвестиції
                        <span class="label-new">NEW</span>
                    </a>
                    <a href="">QR-еквайринг
                        <span class="label-new">NEW</span>
                    </a>
                    <a href="">Інтернет еквайринг
                        <span class="label-new">NEW</span>
                    </a>
                    <a href="">Плати пізніше
                        <span class="label-new">NEW</span>
                    </a>
                </div>
            </div>
            
            <div class="right">
                <div class="icons-section">
                    <div class="icons">
                         <a href="https://www.facebook.com/">
                           <img src="assets/images/svgexport-17.svg" alt="">
                        </a>
                    </div>
                    
                    <div class="icons">
                        <a href="https://twitter.com/home?lang=uk">
                            <img src="assets/images/svgexport-18.svg" alt="">
                        </a>
                    </div>

                    <div class="icons">
                        <a href="https://www.instagram.com/">
                            <img src="assets/images/svgexport-19.svg" alt="">
                        </a>
                    </div>

                    <div class="icons">
                        <a href="https://www.youtube.com/">
                            <img src="assets/images/svgexport-20.svg" alt="">
                        </a>
                    </div>
                 </div>

                <div class="small-text">
                <p>АТ «УНІВЕРСАЛ БАНК» Ліцензія НБУ №92 від 20.01.1994, Номер у держреєстрі банків № 226</p>
                </div>
                <div class="small-text">         
                <p>Банк є учасником <a href="">Фонду гарантування вкладів фізичних осіб</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>