<section class="order-card">
    <div class="container"> 
        <div class="left">
            <h2 class="bright">Немає картки monobank?</h2>
            <p class="bright">Не страшно, її можна отримати просто зараз</p>
            <button class="btn btn-neutral">Отримати картку</button>
            <blockquote>Відкриття картки ні до чого не зобов'язує. Крім рахунка ФОП у нас дуже багато <a href="">крутих пропозицій</a></blockquote>
        </div>
    
        <div class="right">
            <img src="/assets/images/card.webp" alt="">
        </div>
    </div>
</section>