<section class="instruction">
    <div class="container"> 
        <h2 class="bright">
            Як відкрити <br>
            рахунок ФОП
        </h2>
        <ol class="steps">
                <li> 
                    
                    <div class="image-wrapper">
                        <img src="/assets/images/card2.webp" alt="">
                    </div>
                    <p class="bright"><span class="numbers">01</span>Пройти швидку реєстрацію в додатку monobank та отримати картку</p>
                </li>
                <li> 
                    
                    <div class="image-wrapper">
                        <img src="/assets/images/man.webp" alt="">
                    </div>
                    <p class="bright"><span class="numbers">02</span>Бути зареєстрованим як фізична особа-підприємець</p>
                </li>
                <li>
                    
                    <div class="image-wrapper">
                        <img src="/assets/images/glasses.webp" alt="">
                    </div>
                    <p class="bright"><span class="numbers">03</span>Відкрити рахунок ФОП у додатку monobank в 1 торкання</p>
               </li>
        </ol>
    </div>
</section>