.instruction {
    background: linear-gradient(225deg, #6aaffb, #1d85fa);
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        h2 {
            width: 100%;
            max-width: 100%;    
            }
        .steps {
            display: flex;
            margin: 45px 0;
            padding-top: 42px;
            padding-bottom: 42px;
            list-style-type: none;
            li {
                justify-content: space-between;
                padding-left: 12px;
                margin-right: 24px;
                font-size: 20px;
                font-weight: 900;
                line-height: 24px;
                width: 33%;
                .bright{
                    position: relative;
                    
                }
                .numbers {
                    position: absolute;
                    left: -50px;
                    color: #faf352;
                    font-weight: 900;
                    font-size: 20px;
                }

                
                .image-wrapper {

                    img {
                        position: relative;
                        z-index: 1;
                        stroke: currentColor;
                        max-width: 2em;
                        max-height: 2em;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}