<section class="account-cabinet">
    <div class="container">
        <div class="left">
            <img src="/assets/images/mockups.webp" alt="">  
        </div>
        <div class="right">
            <h2 class="accent">Бухгалтерський кабінет</h2>
            <p class="accent">Окремий бухгалтерський кабінет для керування рахунком ФОП.</p>
            <p class="accent">Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті.</p>
            <button class="btn btn-secondary">Увійти в кабінет</button>
        </div>
    </div>
</section>