.header-style {
    height: 90px;
    min-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 56px;
    padding-right: 56px;
    position: relative;
    align-content: normal;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        img {
            width: 233px;
        }
    }   
    .short-menu {
        margin: 0 -10px 0 auto;
        padding-left: 20px;
        display: flex;      
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        list-style: none;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
        }
        li {
            list-style-type: none;
            display: inline-block;
            align-items: center;
            padding: 0 12px;
            font-family: Inter,sans-serif;
            font-size: 12px;
            font-weight: 900;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: .5px;
            text-transform: uppercase;
            text-align: center;
            a {
            text-decoration: none ;
            color: black;
            cursor: pointer;
            }
            a:hover {
                color: #fa5255;
            }
        }
    }

}
.take-phone {
    background: linear-gradient(225deg, #617be3, #6f1ddb);
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
        display: flex;

        .left {
            width: 50%;
            padding-top: 60px;
            p{
                    margin: 45px 0;
            }
            .tel-btn {
                display: flex;
            }

        }
        
        .right {
            width: 50%; 
            
        }
    }
   
    input {
        border-radius: 16px;
        border: none;
        padding-top: 17px;
        padding-right:24px;
        padding-bottom: 17px;
        padding-left: 24px;
        text-align: center;
        color:white;
        background-color: #8a6ee5;
        width: 240px;
        margin: 16px 8px;

    }
    ::placeholder {
        color:#c3acf1;
        margin: 16px 8px;

    }
    
}
.account-cabinet {
    height:100vh;
    display: flex;
    align-items: center;
   
    .container{
        display:flex;
        column-gap: 60px;
        justify-content: space-between;

        .right {
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin-top: 1.22em;
            }
        }
    }
}
    
.advantages {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
  
    .container {
        display: flex;
        flex-wrap: wrap;
        article {
            margin-top: 35px;
            margin-right: 45px;
            width: 25%;
        }
        h2 {
            width: 100%;
        }
        blockquote {
            padding: 0%;
            margin: 0%;
            opacity: 0.5;
            font-size: 15px;
            margin-top: 15px;
        }
    }
}

.instruction {
    background: linear-gradient(225deg, #6aaffb, #1d85fa);
    height: 100vh;
    display: flex;
    align-items: center;
    .container {
        h2 {
            width: 100%;
            max-width: 100%;    
            }
        .steps {
            display: flex;
            margin: 45px 0;
            padding-top: 42px;
            padding-bottom: 42px;
            list-style-type: none;
            li {
                justify-content: space-between;
                padding-left: 50px;
                margin-right: 24px;
                font-size: 20px;
                font-weight: 900;
                line-height: 24px;
                width: 33%;
                .bright{
                    position: relative;
                    
                }
                .numbers {
                    position: absolute;
                    left: -50px;
                    color: #faf352;
                }

                
                .image-wrapper {

                    img {
                        position: relative;
                        z-index: 1;
                        stroke: currentColor;
                        max-width: 2em;
                        max-height: 2em;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}

.plans {
    height: 100vh;
    display: flex;
    align-items: center;
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        
        td,th {
            padding: 20px 16px;
            text-align: center;
        }
        tbody {
            th{
                text-align: left;
            }
            tr td {
                &:nth-child(2) {
                    background-color: black;
                    color: white;
                }    
            }
            tr {
                &:last-child {
                    td{
                        &:nth-child(2){
                            border-radius: 0 0 40px 40px;
                        }
                    } 
                }
            }
        }
        thead {
            th {
                &:nth-child(2) {
                    background-color: black;
                    color: white;
                    border-radius: 40px 40px 0 0;
                }     
            }
        }
        
    }
}

.order-card {
    background: linear-gradient(225deg, #325bdc, #5670e2);
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 100px;

    
    .container{
        display: flex;
        grid-column-gap: 60px ;
        width: 1100px;

        .left{
            width: 50%;
            padding-top: 30px;
            max-width: 380px;
            padding-bottom: 52px;
            

            blockquote {
                font-family: Lato,sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                padding-left: 8px;
                border-left: 2px solid #f7e652;
                max-width: 280px;
                color: white;
                margin-left: 0;
                     a {
                         color: #f7e652;
                     }
                }

            h2 {
                font-size: 56px;
                font-weight: 900;
                line-height: 1.21875;

            }               
                
        }
        
        .right {
            width: 50%; 
            display: flex;
            align-items: flex-end;
            img {
                width: 506px;
                margin: 0;
            }
            
        }
    }
     }