<section class="advantages">
    <div class="container">
        <h2 class="accent">Ви так довго<br>
            цього чекали</h2>
        <article> 
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-9.svg" alt="">
            </div>
                <p class="accent"> Повністю дистанційне обслуговування: не потрібно відвідувати точку видачі або звертатися до відділення</p>
        </article>
        <article>
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-10.svg" alt="">
            </div>  
                <p class="accent">Керування всіма рахунками monobank в одному додатку</p>
                <blockquote>Один додаток для ФОП і особистого рахунку</blockquote>
        </article>
        <article>
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-11.svg" alt="">
            </div>
                <p class="accent">Платежі з валютних рахунків 24/7/365, а не тільки з 10:00 до 15:00</p>
                <blockquote>Не потрібно чекати поки відкриється міжбанк, щоб продати валюту. Валютообмін 24/7</blockquote>
        </article>
        <article>
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-12.svg" alt="">
            </div>
                <p class="accent">Окремий бухгалтерський веб-кабінет . Можна додати до двох додаткових номерiв телефону для роботи у веб-кабінеті з рахунком ФОП</p>
            </article>
        <article>
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-13.svg" alt="">
            </div>
                <p class="accent">Вигідний курс обміну валют </p>
            </article>
        <article>
            <div class="image-wrapper">
                <img src="/assets/images/svgexport-14.svg" alt="">
            </div>
                <p class="accent">Дружній фінансовий моніторинг і валютний контроль </p>
        </article>
    </div>
</section>