<section class="takephone"> 
    <div class="container"> 
        <div class="left">
            <h2 class="bright">Ми знову прибрали все зайве, щоб ви отримали кращий досвід.</h2>
            <p class="bright">Залиште номер телефону, і ми надішлемо посилання на додаток, де можна відкрити рахунок ФОП</p>
            <div class="tel-btn">
                <input type="tel"  placeholder="+380 (XX) XXX-XX-XX">
                <button class="btn btn-primary">Хочу рахунок ФОП</button>
            </div>
        </div>
        <div class="right">
            <img src="/assets/images/cat.webp" alt="">
        </div>
    </div>
</section>