@import "./variables.scss";

h2 {
    font-size: 40px;
    &.accent {
        color: $accent;
    }
    &.bright {
        color: $bright;
        
    }

}

h3 {
    font-size: 40px;
    color: $neutral;
    line-height:1.21875;
}

* {
    font-family: "Inter";
}

p {
    font-weight: 100;
    
    margin: 0;
    &.accent {
        color: $accent;
        font-size: 18px;
    }
    &.bright {
        color: $bright;
        font-size: 18px;
    }
    &.neutral-br {
        color: $bright;
        font-size: 14px;
    }
}

.container {
        max-width: 1100px;
        margin: 0 auto;
    }


body {
    margin: 0;
    padding: 0;
}

.image-wrapper {
    background-color: black;
    display: inline-block;
    border-radius: 30px;
    width: 80px;
    height: 80px;
    position: relative;
    margin-bottom: 24px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        object-fit: cover;
    }
}